.monaco-editor, .monaco-editor .inputarea.ime-input {
  color: var(--try-editor-text) !important;
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
  background-color: var(--try-editor) !important;
}

.monaco-editor .margin {
  background-color: var(--try-editor-margin) !important;
}

.monaco-editor .line-numbers {
  color: var(--try-editor-margin-line-text) !important;
}

.monaco-editor .line-numbers.active-line-number {
  color: var(--try-editor-margin-line-active-text) !important;
}

.monaco-editor .margin-view-overlays .current-line, .monaco-editor .view-overlays .current-line{
  background-color: var(--try-editor-margin-line-active);
}

.monaco-editor .view-overlays .current-line {
  border: none !important;
  background-color: var(--try-editor-margin-line-active);
}

.mtk1 {
  color: var(--try-code-mtk-1) !important;
}
.mtk4 {
  color: var(--try-code-mtk-4) !important;
}
.mtk5 {
  color: var(--try-code-mtk-5) !important;
}
.mtk6 {
  color: var(--try-code-mtk-6) !important;
}
.mtk7 {
  color: var(--try-code-mtk-7) !important;
}
.mtk10 {
  color: var(--try-code-mtk-10) !important;
}
.mtk14 {
  color: var(--try-code-mtk-14) !important;
}
.mtk15 {
  color: var(--try-code-mtk-15) !important;
}
.mtk20 {
  color: var(--try-code-mtk-20) !important;
}

.monaco-editor .cursor {
  background-color: var(--try-editor-cursor) !important;
}