<div class="d-flex" style="margin-top:20px">
    <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Primary" class="mr-3"></MudIcon>
    <MudText Class="mb-5" Color="Color.Primary"><strong>@Title</strong></MudText>
</div>