
<div class="mud-input-control mud-input-control-margin-dense mud-input-input-control">
    <div class="mud-input-control-input-container">
        <div class="mud-input mud-input-outlined mud-input-margin-dense">
            <textarea class="mud-input-slot mud-input-root mud-input-root-outlined mud-input-root-margin-dense"
                      id="@EditorId" @ref="@CodeEditorComponent" style="width:100%;height:@Height"></textarea>
            <div class="mud-input-outlined-border"></div>
        </div>
    </div>
</div>

